h1 {
    font-size: 3.5rem;
}

p {
    font-size: 1.8rem;
}

span {
    font-size: 8rem;
}

button {
    display: block;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 5px 60px;
}

button:hover {
    background-color: rgb(250, 99, 99);
}

button:active {
    background-color: red;
}

.home-container {
    width: 100vw;
    height: 100vh;
    background: rgb(242,245,242);
    background: linear-gradient(145deg, rgba(242,245,242,1) 0%, rgb(200, 253, 199) 100%);
}

.home-content {
    display: flex;
    background-color: #58f2b2;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    width: 50vw;
    margin: 0 auto;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    box-shadow: 5px 5px 10px #cac2bb;
}

.modal-container {
    display: flex;
    background-color: rgb(217, 247, 217);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 52vh;
    width: 52vw;
    margin: 0 auto;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    opacity: 0;
    pointer-events: none;

    border-radius: 5px;
}

.modal {
    text-align: center;
}

.modal p:nth-child(1) {
    font-size: 3.5rem;
    color: rgb(255, 0, 0);
}

.modal p:nth-child(2) {
    font-size: 1.8rem;
}

.modal span {
    font-size: 8rem;
    color: #087749;
}

.show {
    opacity: 1;
    pointer-events: all;
}

.shadow {
    background: rgb(138, 138, 138);
}